AlexNet/__pycache__/*.pyc
AlexNet/runs/events.out.tfevents.1590245405.KarsondeMacBook-Pro.local.7985.0
CenterLoss/MNIST/*
CenterLoss/__pycache__/*.pyc
CenterLoss/Pics/*
GAN/__pycache__/data.cpython-37.pyc
GAN/__pycache__/net.cpython-37.pyc
GAN/faces/
*.jpg
FACE_MTCNN/__pycache__/celeba.cpython-37.pyc
